.Post {
  width: 300px;
  padding: 20px;
  text-align: center;
  margin: 10px auto;
  border: 1px solid #000;
}

.Post > button {
  background-color: lightgray;
  color: blue;
}

h1 {
  text-align: center;
}